img {
    width: 300px;
    border: 8px solid limegreen;
    margin: auto;
    display: block;
    border-radius: 4px;
}

blockquote {
    margin: 0 0 0 60px;
    text-align: justify;
}

#vocesabia {
    border: 3px solid limegreen;
    padding: 10px;
    background-image: url("../imagens/fundo.png");
}

.citacao {
    font-style: italic;
}
